@page "{GenreId?}"
@model WebApp.Pages.SamplePages.AlbumsByGenreQueryModel
@{
	ViewData["Title"] = "Albums by Genre";
}

<h1>Albums By Genre</h1>

@section CustomCSS {
	<partial name="_MyCustomCSS" />
}

<section class="setflex">
	<div class="onehalf">
		<blockquote>
			This page is to demonstrate:
			<ul>
				<li>Use of select tag</li>
				<li>Use of input/datalist tags</li>
				<li>Table creation</li>
				<li>Paging</li>
			</ul>
		</blockquote>

		@if(Model.HasFeedBack)
		{
			<p>@Model.FeedBack</p>
		}

		@if(Model.HasErrorMsg)
		{
			<p style="color:firebrick; font-weight:bold;">@Model.ErrorMsg</p>
		}

		<form method="post">
			<label>
				Select Genre to view albums 
				<select asp-for="GenreId">
					<option value="0">select genre...</option>
					@foreach(var item in Model.GenreList)
					{
						if(Model.GenreId == item.ValueId)
						{
							// Rewatch recording March 1, 2022 to get this line of code
							<option value="@item.ValueId">@item.DisplayText</option>
						}
						else
						{
							<option value="@item.ValueId">@item.DisplayText</option>
						}
					}
				</select>
			</label>
			<br/>
			<button type="submit">Find Albums</button>
		</form>
	</div>
	<div class="onehalf">
		@*Do not put out anything unless there is something to show*@
		@if(Model.AlbumsByGenre != null)
		{
			// You have at least an instance of your collection
			if(Model.AlbumsByGenre.Count() == 0)
			{
				<p style="color:blue; font-weight:bold;">This genre has no tracks on any album on file.</p>
			}
			else
			{
				// Otherwise you have rows to display
				<table border="1">
					<thead>
						<tr>
							<th>Title</th>
							<th>Year</th>
							<th>Label</th>
							<th>Artist Name</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var item in Model.AlbumsByGenre)
						{
							<tr>
								<td>@item.Title</td>
								<td>@item.ReleaseYear</td>
								<td>@item.ReleaseLabel</td>
								<td>@item.ArtistName</td>
							</tr>
						}
					</tbody>
					<tfoot>

					</tfoot>
				</table>
			}
		}
	</div>
</section>